/* color: "White",
backgroundImage: `url(${moduleName})`,
backgroundSize:"100%",
margin: "0px",
padding: "20px"
 */

.OrderSum {
  color: rgb(243, 237, 237);
  background-image: url(../../../Assets/Images/model.jpg);
  background-repeat:  no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 140vh;
  margin: 0px;
  padding: 20px;
  font-family: "Dosis", cursive;
  font-size: 1.1rem;
}
.Buttons {
  /* background-color: #ce8e2e33; */
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 360px) and (max-height: 570px) and (orientation: portrait) {
  .OrderSum {
    font-size: 0.8rem;
  }
}

@media (max-width: 741px) and (max-height:420px) and (orientation: landscape) {
    .OrderSum {
      font-size: 0.8rem;
      padding: 10px;
    }
  }

  @media (max-width: 448px) and (max-height:545px) {
    .OrderSum {
      font-size: 0.8rem;
      padding: 10px;
    }
  }

  @media (max-width: 820px) and (max-height:380px) and (orientation: landscape){
    .OrderSum {
      font-size: 0.8rem;
    }
  }
  
